<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', { description: 'welcome to miku file sharing!!! meow' }) %>
    <script src="public/scripts/index.js?v=<%= css %>" lang="javascript"></script>
  </head>
  <body>
    <div class="container">
      <div class="center-container">
        <h1>welcome to <span class="blue"><%= webname %></span></h1>
        <div class="paragraph-container">
          <p align="left">
            This is essentially a file sharing service, for me and a couple
            friends.
          </p>
          <p align="left">
            Right now, it's
            <span class="blue">an invite-only</span> service, if you want to use
            it, contact me at
            <a href="https://specifix.dev/" target="_blank">my website</a>
            and give a good reason. <br><br> I'll probably consider it! <span class="nobreak">⸜(｡˃ ᵕ ˂ )⸝♡</span>
          </p>
        </div>

        <form id="uploadForm" enctype="multipart/form-data">
          <!-- Access key -->
          <input type="password" id="key" name="key" placeholder="Enter access key (the one i gave you)" required />

          <!-- File picker -->
          <label id="fileLabel" for="file">📂 Browse File... (Max 64MB)</label>
          <input type="file" id="file" name="file" required hidden />

          <span class="underline" id="file-name">No file selected</span>

          <!-- Submit -->
          <button id="uploadButton" type="submit" disabled>Upload</button>
        </form>

        <div class="flex-list">
          <div class="oomf">
            <img src="public/miku_approved.gif" width="88" height="31" loading="lazy" alt="MIKU APPROVED WEBSITE!!!!">
          </div>
          <img class="big" src="public/miku_ascii.png">
        </div>
      </div>
    </div>
  </body>
</html>
