<!-- Primary Meta Tags -->
<title>miku meow</title>
<meta name="title" content="miku meow" />
<meta name="description" content="<%= description %>" />
<meta name="robots" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="theme-color" content="#87D5FF" />
<meta charset="UTF-8" />

<!-- Favicon -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="public/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="public/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="public/favicon-16x16.png"
/>
<link rel="manifest" href="public/site.webmanifest" />

<!-- Canonical Link -->
<link rel="canonical" href="https://miku.hatsune.lol/" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://hatsune.lol/" />
<meta property="og:title" content="miku meow" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:site_name" content="hatsune.lol" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="https://miku.hatsune.lol/" />
<meta name="twitter:title" content="miku meow" />
<meta name="twitter:description" content="<%= description %>" />
<meta name="twitter:site" content="@ThatIsSpecifix" />

<link href="public/styles.css?v=<%= css %>" type="text/css" rel="stylesheet" />
